{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" rel="stylesheet" />

<body>
  <!-- <div class="container mt-4">  <h2 style="text-align: left;padding-top: 15px;">Toifalar</h2></div> -->
    <!-- NAVIGATION -->
    <nav class="navbar navbar-expand-lg container-fluid d-flex justify-content-center px-0">
        <!-- container -->
        <div class="nav__option_sm" style="margin-right: 10px;">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav navbar-nav text-center" >
                    <!-- <li class="active"><a href="#" class="" > <span class="btn btn-info btn-circle btn-xl "><i class="fas fa-home fa-3x "></i></span><br><div class="d-flex justify-content-center" >Bosh sahifa</div></a></li> -->
                    <li><a href="{% url 'company' %}" class="nav-item"> 
                        <span class="btn btn-success btn-circle btn-xl">
                            <i class="fas fa-building fa-3x"></i></span><br>
                            <div class="d-flex justify-content-center text_nav">Biznes star</div>
                        </a></li>
                    <li><a href="{% url 'technique' %}" class="nav-item"> 
                            <span class="btn btn-danger btn-circle btn-xl">
                                <i class="fas fa-cog fa-3x"></i></span><br>
                                <div class="d-flex justify-content-center text_nav">Uskunalar</div>
                            </a></li>
                    <li><a href="{% url 'seller' %}" class="nav-item"> 
                                <span class="btn btn-dark btn-circle btn-xl">
                                    <i class="fas fa-shopping-cart fa-3x"></i></span><br>
                                    <div class="d-flex justify-content-center text_nav">Big bazar</div>
                                </a></li>

                   
                    <li ><a href="{% url 'clinics' %} "> <span class="btn btn-success btn-circle btn-xl"><i class="far fa-hospital fa-3x "></i></span><br><p class="text_nav">Clinics</p></a></li>

                    <li><a href="{% url 'home' %}" class="nav-item"> <span class="btn btn-warning btn-circle btn-xl"><i
                                    class="fas fa-laptop-house fa-3x"></i></span>
                            <div class="d-flex justify-content-center text_nav">Houses</div>
                        </a></li>


                    <li><a href="{% url 'pharm' %}" class="nav-item"> <span class="btn btn-primary btn-circle btn-xl"><i
                                    class="fas fa-capsules fa-3x "></i></span><br><p class="text_nav">Pharmacies</p></a></li>


                    <li><a href="{% url 'index' %}" class="nav-item"> <span class="btn btn-danger btn-circle btn-xl"><i
                        class="fab fa-internet-explorer fa-3x"></i></span>
                                    <div class="d-flex justify-content-center text_nav">IT services</div>
                        </a></li>

<!-- 
                    <li><a href="#" class="nav-item"> <span class="btn btn-danger btn-circle btn-xl"><i
                                    class="fab fa-internet-explorer fa-3x"></i></span>
                            <div class="d-flex justify-content-center">Web service</div>
                        </a></li> -->

                    <li><a href="{% url 'messangers' %}" class="nav-item"> <span
                                class="btn btn-primary btn-circle btn-xl"><i class="fas fa-bullhorn fa-3x"></i></span>
                            <div class="d-flex justify-content-center text_nav">E`lonlar</div>
                        </a></li>

                    <li class="" style=""><a href="{% url 'telegram' %}" class="nav-item"> <span class="btn btn-info btn-circle btn-xl"><i
                                    class="fab fa-telegram-plane fa-3x"></i></span><span>
                                <div class="d-flex justify-content-center text_nav">Activlar</div></a></li>

                    <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->

  <!--Carousel Wrapper-->
<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

  <ol class="carousel-indicators">
    {% for i in ad_post %}
    {% if forloop.first %}
    <li data-target="#carousel-example-1z" data-slide-to="{{i.id}}" class="active" ></li>
    {% else %}
    <li data-target="#carousel-example-1z" data-slide-to="{{i.id}}"  ></li>
        {% endif %}
    {% endfor %}
    
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner">
    <!--First slide-->
    {% for i in ad_post %}
    {% if forloop.first %}
    <div class="carousel-item active" data-interval="5500" >
      <a href="{{i.link_add}}"><img class="d-block w-100" style="widht:100%; height: 350px; object-fit:cover;" src="{{i.image.url}}"
        alt="First slide"></a>
    </div>
    {% else %}
    <div class="carousel-item " data-interval="5500">
      
      <a href="{{i.link_add}}"> <img class="d-block w-100" style="widht:100%; height: 350px; object-fit:cover;" src="{{i.image.url}}"
          alt="First slide"></a> 
      </div>
      {% endif %}

    {% endfor %}
   
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>

  





    <section id="about-sec" class="about-sec section-padding">
        <div class="container">
            <div class="row about-sec-detail">
                <div class="col-12 col-lg-6 text-center text-lg-left">
                    <div class="about-des-sec wow fadeInLeft">
                        <div class="ex-detail">
                            <h4 class="large-heading">
                                <span class="heading-1">Bizga Qo‘shiling -</span>
                                <span class="heading-2">Online star group</span>
                            </h4>
                            <span class="fly-text">BIZDA SOTING</span>
                        </div>
                        <p class="small-text text-center text-lg-left" style="font-size: 25px;">
                            Tarmoqlarda yulduzga aylaning biznesingiz haqida doimiy xabardorlikni oshiring biz bilan super natijalarga erishing
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="about-img-holder">
                        <div class="behind-overlay"></div>
                        <img src="{% static 'agency/img/photo_2020-12-16_18-04-33.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12 col-md-6 col-lg-4 about-media wow fadeInUp">
                    <span class="about-icon">
                        <a href="#"><i class="las la-globe"></i></a>
                    </span>
                    <h4 class="small-heading">Bozor</h4>
                    <span class="ex-line"></span>
                    <p class="small-text">Katta hajimdagi bozorBiz bilan bozorning asosiy o‘yinchisiga aylaning
                    </p>

                </div>
                <div class="col-12 col-md-6 col-lg-4 about-media wow fadeInUp" data-wow-delay="350ms">
                    <span class="about-icon">
                        <a href="#"><i class="las la-chess-queen"></i></a>
                    </span>
                    <h4 class="small-heading">Asosiy</h4>
                    <span class="ex-line"></span>
                    <p class="small-text">Biz bilan bozorning asosiy o‘yinchisiga aylaning</p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 about-media wow fadeInUp">
                    <span class="about-icon">
                        <a href="#"><i class="la la-bicycle"></i></a>
                    </span>
                    <h4 class="small-heading">Soting</h4>
                    <span class="ex-line"></span>
                    <p class="small-text">Istalgan narsani qulay soting 
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 about-media wow fadeInUp">
                    <span class="about-icon">
                        <a href="#"><i class="las la-lightbulb"></i></a>
                    </span>
                    <h4 class="small-heading">Aqil</h4>
                    <span class="ex-line"></span>
                    <p class="small-text">Aql bilan ish tuting
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 about-media wow fadeInUp" data-wow-delay="350ms">
                    <span class="about-icon">
                        <a href="#"><i class="la la-clock"></i></a>
                    </span>
                    <h4 class="small-heading">Vaqt</h4>
                    <span class="ex-line"></span>
                    <p class="small-text">Qisqa vaqtda yaxshi natija
                    </p>
                </div>
              
                <div class="col-12 col-md-6 col-lg-4 about-media wow fadeInUp" data-wow-delay="350ms">
                    <span class="about-icon">
                        <a href="#"><i class="la la-parachute-box"></i></a>
                    </span>
                    <h4 class="small-heading">Oling</h4>
                    <span class="ex-line"></span>
                    <p class="small-text">Eng yaxshisi faqat siz uchun
                    </p>
                </div>
            </div>
        </div>
    </section>
   
 
    <!--  -->
    <!--Services sec start-->
    <section id="services-sec" class="services-sec">
        <div class="service-overlay"></div>
        <div class="container">
            <div class="row services-details section-padding">
                <div class="col-12 col-lg-6">
                    <div class="ex-detail">
                        <h4 class="large-heading">
                            <span class="heading-1">Bizda</span>
                            <span class="heading-2">Katta Bozor</span>
                        </h4>
                        <span class="fly-text">BIZ BILAN</span>
                    </div>
                    <div class="row services-box">
                        <div class="col-8 offset-2 offset-md-0 col-md-4 s-card text-center">
                            <div class="card">
                                <span class="service-icon"><i class="la la-smile"></i></span>
                                <p class="service-num">125</p>
                                <h6 class="service-mini-heading">Sotuvchilar</h6>
                            </div>
                        </div>
                        <div class="col-8 offset-2 offset-md-0 col-md-4 s-card text-center">
                            <div class="card active">
                                <span class="service-icon"><i class="fas fa-luggage-cart"></i></span>
                                <p class="service-num">9102</p>
                                <h6 class="service-mini-heading">Mahsulotlar</h6>
                            </div>
                        </div>
                        <div class="col-8 offset-2 offset-md-0 col-md-4 s-card text-center">
                            <div class="card">
                                <span class="service-icon"><i class="la la-trophy"></i></span>
                                <p class="service-num">06</p>
                                <h6 class="service-mini-heading">Homiylar</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--services sec end-->



    <!--our-Services sec start-->
    <section id="our-services" class="our-services section-padding">
        <div class="container">
            <div class="row text-center text-md-left">
                <div class="col-12 service-text text-center">
                    <div class="our-heading">
                        <span class="heading-title">Biz bilan ishlashadi</span>
                        <h4 class="heading-text">Bizning hamkorlar</h4>
                    </div>
                    <ul class="nav nav-pills justify-content-center mb-md-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#p1" role="tab"
                                aria-selected="true"><span>YIRIK KORXONALAR</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-2-tab" data-toggle="pill" href="#p2" role="tab"
                                aria-selected="false"><span>SIFATLI USKUNALAR</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-3-tab" data-toggle="pill" href="#p3" role="tab"
                                aria-selected="false"><span>ENG KATTA BOZORLAR</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-4-tab" data-toggle="pill" href="#p4" role="tab"
                                aria-selected="false"><span>BARCHA KLINIKALAR</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-4-tab" data-toggle="pill" href="#p5" role="tab"
                                aria-selected="false"><span>ARZON DORIXONALAR</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-4-tab" data-toggle="pill" href="#p6" role="tab"
                                aria-selected="false"><span>SIFATLI UY JOYLAR</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 service-tab">
                    <div class="tab-content" id="pills-tabContent">

                        <div class="tab-pane fade show active" id="p1" role="tabpanel" aria-labelledby="pills-1-tab">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 tab-img">
                                    <img alt="service1"
                                        src="{% static 'agency/img/alex-kotliarskyi-QBpZGqEMsKg-unsplash (1).jpg' %}">
                                </div>
                                <div class="col-sm-12 col-md-6 tab-detail d-flex align-items-center">
                                    <div class="tab-des">
                                        <span class="tab-num">01</span>
                                        <h4 class="tab-title">YIRIK KORXONALAR <br> Biznes yulduzlar, arzon va sifatli maxsulotlar</h4>
                                        
                                        <a href="{% url 'company'  %}"> <button class="btn anim-btn rounded-pill">Ko‘rish..
                                                <span></span><span></span><span></span><span></span>
                                            </button></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade show" id="p2" role="tabpanel" aria-labelledby="pills-2-tab">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 tab-img">
                                    <img alt="service1"
                                        src="{% static 'agency/img/science-in-hd-EB78x6KzQjY-unsplash (1).jpg' %}">
                                </div>
                                <div class="col-sm-12 col-md-6 tab-detail d-flex align-items-center">
                                    <div class="tab-des">
                                        <span class="tab-num">02</span>
                                        <h4 class="tab-title">
                                            SIFATLI USKUNALAR <br> So‘nggi avlod uskunalari
                                            </h4>
                                     
                                        <a href="{% url 'technique'  %}"> <button class="btn anim-btn rounded-pill">Ko‘rish..
                                                <span></span><span></span><span></span><span></span>
                                            </button> </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade show" id="p3" role="tabpanel" aria-labelledby="pills-3-tab">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 tab-img">
                                    <img alt="service1"
                                        src="{% static 'agency/img/clark-street-mercantile-P3pI6xzovu0-unsplash.jpg' %}">
                                </div>
                                <div class="col-sm-12 col-md-6 tab-detail d-flex align-items-center">
                                    <div class="tab-des">
                                        <span class="tab-num">03</span>
                                        <h4 class="tab-title">ENG KATTA BOZORLAR <br> Katta bozor barakali savdo</h4>
                                        <a href="{% url 'seller'  %}"> <button class="btn anim-btn rounded-pill">Ko‘rish..
                                                <span></span><span></span><span></span><span></span>
                                            </button></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade show" id="p4" role="tabpanel" aria-labelledby="pills-3-tab">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 tab-img">
                                    <img alt="service1"
                                        src="{% static 'agency/img/science-in-hd-OdEB1LNUidc-unsplash.jpg' %}">
                                </div>
                                <div class="col-sm-12 col-md-6 tab-detail d-flex align-items-center">
                                    <div class="tab-des">
                                        <span class="tab-num">04</span>
                                        <h4 class="tab-title">BARCHA KLINIKALAR <br> Malakali tibbiy qulay xizmatlar</h4>
                                       
                                        <a href="{% url 'seller'  %}"> <button class="btn anim-btn rounded-pill">Ko‘rish..
                                                <span></span><span></span><span></span><span></span>
                                            </button></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade show" id="p5" role="tabpanel" aria-labelledby="pills-4-tab">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 tab-img">
                                    <img alt="service1"
                                        src="{% static 'agency/img/national-cancer-institute-byGTytEGjBo-unsplash.jpg' %}">
                                </div>
                                <div class="col-sm-12 col-md-6 tab-detail d-flex align-items-center">
                                    <div class="tab-des">
                                        <span class="tab-num">04</span>
                                        <h4 class="tab-title">Your speacialized team move with success.</h4>
                                        <p class="tab-text">It has survived not only five centuries, but also the leap
                                            into electronic typesetting, remaining essentially unchanged. It was
                                            popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum</p>
                                        <a href="{% url 'clinics'  %}"> <button class="btn anim-btn rounded-pill">Ko‘rish..
                                                <span></span><span></span><span></span><span></span>
                                            </button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="p6" role="tabpanel" aria-labelledby="pills-4-tab">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 tab-img">
                                    <img alt="service1"
                                        src="{% static 'agency/img/birgit-loit-sBjIRDC0H5Q-unsplash (1).jpg' %}">
                                </div>
                                <div class="col-sm-12 col-md-6 tab-detail d-flex align-items-center">
                                    <div class="tab-des">
                                        <span class="tab-num">06</span>
                                        <h4 class="tab-title">SIFATLI UY JOYLAR <br> </h4>
                                        <a href="{% url 'home'  %}"> <button class="btn anim-btn rounded-pill">Ko‘rish..
                                                <span></span><span></span><span></span><span></span>
                                            </button></a>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--our-Services sec start-->



    <!--Quote sec start-->
    <section id="quote-sec" class="quote-sec">
        <div class="quote-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center">
                    <div class="q-detail">
                        <p class="quote-text"><i class="fas fa-quote-left"></i>
                            <!--                Creativity is allowing yourself to make mistakes-->
                            <!--                Art is knowing which ones to keep-->
                            Ba'zilar muvaffaqiyatga erishishni orzu qiladilar, boshqalari esa har kuni ertalab turib, buni amalga oshiradilar
                            <i class="fas fa-quote-right"></i>
                        </p>
                        <h4 class="quote-writer mb-0">- ALICE JOHNSON -</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-sec" id="contact-sec">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="contact-detail wow fadeInLeft">
                        <div class="ex-detail">
                            <h4 class="large-heading">
                                <span class="heading-1">Reklama</span>
                                <span class="heading-2">Bering</span>
                            </h4>
                            <span class="fly-text">BIZGA YOZING</span>
                        </div>
                        <p class="small-text text-center text-md-left">
                            Qisqa vaqt ichida biz siz bilan bog'lanamiz
                        </p>
                        <div class="row location-details text-center text-md-left">
                            <div class="col-12 col-md-6 addr-list">
                                <h4 class="heading-text">Samarqand</h4>
                                <ul>
                                    <li><i class="las la-mobile-alt"></i><a href="tel:+998915551654">(91) 555 16 54</a></li>
                                    <li><i class="lab la-telegram"></i><a href="https://t.me/OnlineStarGroup">t.me/OnlineStarGroup</a></li>
                                    <li><i class="las la-envelope"></i><a href="#">faxriddin96.umirov@gmail.com</a></li>

                                    <li><i class="las la-map-marker"></i><a href="#">Samarqand shahar</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 addr-list">
                               
                             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 contact-box text-center text-md-left">

                    <div class="c-box wow fadeInRight">
                        <h4 class="small-heading">Tezkor bo'glanish</h4>
                        
                        <form class="contact-form" action="{% url 'action_view'%}" method="POST">
                            <input type="hidden" , name="action" , value="create_ad">
                            {% csrf_token %}
                            <div class="row my-form">
                                <div class="display-error"><span id="error"></span></div>
                                <div class="col-12 col-md-6">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Ism"
                                        required="required">
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="text" class="form-control" id="f_name" name="f_name"
                                        placeholder="Familya" required="required">
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="text" class="form-control" id="phone" name="phone"
                                        placeholder="Telifon" required="required">
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="text" class="form-control" id="message" name="message"
                                        placeholder="Murojatdan maqsad..." required="required">
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control" id="message_long" name="message_long"
                                        placeholder="Xabaringizni yozing...." rows="7" required="required"></textarea>
                                </div>
                                <div class="col-12" type="submit">
                                    <button class="btn anim-btn rounded-pill user-contact" type="submit">Yuborish
                                        <span></span><span></span><span></span><span></span><span></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    (function () {
        "use strict";
      
        var carousels = function () {
          $(".owl-carousel1").owlCarousel({
            loop: true,
            center: true,
            margin: 0,
            responsiveClass: true,
            nav: false,
            responsive: {
              0: {
                items: 1,
                nav: false
              },
              680: {
                items: 2,
                nav: false,
                loop: false
              },
              1000: {
                items: 3,
                nav: true
              }
            }
          });
        };
      
        (function ($) {
          carousels();
        })(jQuery);
      })();
      
</script>
{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>

<script src="{% static 'vendor/js/bundle.min.js' %}"></script>
<script src="{% static 'vendor/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'vendor/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'vendor/js/jquery.cubeportfolio.min.js' %}"></script>
<!-- SLIDER REVOLUTION EXTENSIONS -->
<script src="{% static 'vendor/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.video.min.js' %}"></script>
<script src="{% static 'vendor/js/parallaxie.min.js' %}"></script>
<script src="{% static 'vendor/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/js/wow.min.js' %}"></script>
<script src="{% static 'vendor/js/mediaelement-and-player.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJRG4KqGVNvAPY4UcVDLcLNXMXk2ktNfY"></script>

<script src="{% static 'agency/js/map.js' %}"></script>
<script src="{% static 'agency/js/script.js' %}"></script>
{% endblock extra_js %}
{% endblock %}