{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>



    <h1 style="text-align: center;padding-top: 15px;">Toifalar</h1>
    <!-- NAVIGATION -->
    <nav class="navbar navbar-expand-lg container-fluid d-flex justify-content-center px-0">
        <!-- container -->
        <div class="nav__option_sm">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav navbar-nav text-center">
                    <!-- <li class="active"><a href="#" class="" > <span class="btn btn-info btn-circle btn-xl "><i class="fas fa-home fa-3x "></i></span><br><div class="d-flex justify-content-center" >Bosh sahifa</div></a></li> -->
                    <li><a href="{% url 'company' %}" class="nav-item"> <span
                                class="btn btn-success btn-circle btn-xl"><i
                                    class="fas fa-building fa-3x"></i></span><br>
                            <div class="d-flex justify-content-center">Korxanalar</div>
                        </a></li>

                    <li><a href="{% url 'technique' %}" class="nav-item"> <span
                                class="btn btn-danger btn-circle btn-xl"><i
                                    class="fas fa-cogs fa-3x"></i></span><br>Uskunalar</a></li>

                    <li><a href="{% url 'seller' %}" class=""> <span class="btn btn-info btn-circle btn-xl"><i
                                    class="fas fa-shopping-bag fa-3x"></i></span><br>Sotuvchilar</a></li>

                    <li><a href="{% url 'clinics' %}" class="nav-item"> <span
                                class="btn btn-success btn-circle btn-xl"><i
                                    class="far fa-hospital fa-3x"></i></span><br>Klinikalar</a></li>

                    <li><a href="{% url 'home' %}" class="nav-item"> <span class="btn btn-warning btn-circle btn-xl"><i
                                    class="fas fa-laptop-house fa-3x"></i></span>
                            <div class="d-flex justify-content-center">Uy joy</div>
                        </a></li>


                    <li><a href="{% url 'pharm' %}" class="nav-item"> <span class="btn btn-primary btn-circle btn-xl"><i
                                    class="fas fa-capsules fa-3x"></i></span><br>Dorixonalar</a></li>


                    <li><a href="{% url 'smm' %}" class="nav-item"> <span class="btn btn-info btn-circle btn-xl"><i
                                    class="fas fa-search-dollar fa-3x"></i></span>
                            <div class="d-flex justify-content-center">SMM</div>
                        </a></li>


                    <li><a href="#" class="nav-item"> <span class="btn btn-danger btn-circle btn-xl"><i
                                    class="fab fa-internet-explorer fa-3x"></i></span>
                            <div class="d-flex justify-content-center">WEB Site</div>
                        </a></li>

                    <li><a href="{% url 'messangers' %}" class="nav-item"> <span
                                class="btn btn-primary btn-circle btn-xl"><i class="fas fa-bullhorn fa-3x"></i></span>
                            <div class="d-flex justify-content-center">E`lonlar</div>
                        </a></li>

                    <li><a href="#" class="nav-item"> <span class="btn btn-info btn-circle btn-xl"><i
                                    class="fab fa-telegram-plane fa-3x"></i></span><span>
                                <div class="d-flex justify-content-center">Telegram</div></a></li>

                    <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
    <!--slider sec start-->
    <style>

    </style>
    <div style="height: 60vh;  object-fit:cover; " id="slider-section" class="imgImg slider-section slider-style-5">
        
        <!-- START REVOLUTION SLIDER -->
        <div style="width:100%; height:100%; object-fit:cover; object-fit:cover; " id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="norex-agency01"
            data-source="gallery" style="background:transparent;padding:0;">
            <!-- START REVOLUTION SLIDER 5.4.8.1 fullscreen mode -->
            <div style="width: 100%; height:100%; overflow: hidden;" id="rev_slider_1_2" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.8.1">
                <ul >
                    <!-- SLIDE  -->
                    <li  data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                        data-masterspeed="1500,1500" data-thumb="assets/50x50_d6aeb-slide1-org.jpg" data-rotate="0"
                        data-saveperformance="off" data-title="" data-param1="01" data-param2="" data-param3=""
                        data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                        data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img id="c_rasim" src="{% static 'agency/slider/1.jpg' %}" alt="" data-bgposition="center center"
                            data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-1-layer-26"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                            data-fontweight="['100','100','300','300']" data-width="full" data-height="full"
                            data-whitespace="nowrap" data-type="shape" data-basealign="slide"
                            data-responsive_offset="on"
                            data-frames='[{"delay":10,"speed":300,"frame":"0","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 5;background-color:rgba(20,32,34,0.60);"> </div>

                        <!-- LAYER NR. 2 -->
                        <div  class="tp-caption   tp-resizeme" id="slide-1-layer-20"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']"
                            data-fontsize="['65','65','65','50']" data-lineheight="['65','65','81','65']"
                            data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                            Bussiness <span class="slider-line-text">Start Up</span></div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption   tp-resizeme" id="slide-1-layer-22"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','18','18']"
                            data-fontsize="['20','20','20','18']" data-lineheight="['22','22','26','26']"
                            data-width="['none','none','532','420']" data-height="none"
                            data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>

                        <!-- LAYER NR. 5 -->

                        <div class="tp-caption tp-resizeme" id="slide-1-layer-24"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['70','70','104','104']"
                            data-type="button" data-responsive_offset="on"
                            data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"500","ease":"Linear.ease","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'
                            data-textAlign="['center','center','center','center']">
                            <a href="#about-sec" class="btn slider-yellow-btn rounded-pill">GET STARTED</a>
                        </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-15" data-transition="slideleft,slideright" data-slotamount="default"
                        data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                        data-masterspeed="1500,1500"
                        data-thumb="assets/50x50_72c0d-apartment-architecture-bookcase-bookshelves-271795.jpg"
                        data-rotate="0" data-saveperformance="off" data-title="" data-param1="02" data-param2=""
                        data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                        data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img  id="c_rasim" src="{% static 'agency/slider/6.jpg' %}" alt="" data-bgposition="center center"
                            data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-15-layer-26"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                            data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                            data-basealign="slide" data-responsive_offset="on"
                            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 5;background-color:rgba(20,32,34,0.60);"> </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption   tp-resizeme" id="slide-15-layer-20"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']"
                            data-fontsize="['65','65','65','50']" data-lineheight="['65','65','81','65']"
                            data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":10,"speed":1500,"sfxcolor":"#ffffff","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                            Creative <span class="slider-line-text">Designs</span></div>


                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption   tp-resizeme" id="slide-15-layer-22"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','18','18']"
                            data-fontsize="['20','20','20','18']" data-lineheight="['22','22','26','26']"
                            data-width="['none','none','532','420']" data-height="none"
                            data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":10,"speed":1500,"sfxcolor":"#ffffff","sfx_effect":"blockfromtop","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>

                        <!-- LAYER NR. 10 -->
                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption   tp-resizeme" id="slide-2-layer-4"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['70','70','104','104']"
                            data-height="none" data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
                            data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"500","ease":"Linear.ease","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'
                            data-textAlign="['center','center','inherit','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                            <!-- <a href="#about-sec" class="btn slider-yellow-btn mr-3 rounded-pill">LEARN MORE</a> -->

                        </div>

                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-14" data-transition="slideleft,slideright" data-slotamount="default"
                        data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                        data-masterspeed="1500,1500" data-thumb="assets/50x50_0112a-flat-screen-tv-1571458.jpg"
                        data-rotate="0" data-saveperformance="off" data-title="" data-param1="03" data-param2=""
                        data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                        data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img id="c_rasim" src="{% static 'agency/slider/3.jpg' %}" alt="" data-bgposition="center center"
                            data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-14-layer-26"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                            data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
                            data-basealign="slide" data-responsive_offset="on"
                            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 5;background-color:rgba(20,32,34,0.60);"> </div>

                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption   tp-resizeme" id="slide-14-layer-20"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']"
                            data-fontsize="['65','65','65','50']" data-lineheight="['81','81','82','65']"
                            data-width="['none','none','none','none']" data-height="none" data-whitespace="nowrap"
                            data-type="text" data-responsive_offset="on"
                            data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"x:[175%];y:0;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                            Grow <span class="slider-line-text">Bussiness</span></div>

                        <!-- LAYER NR. 14 -->
                        <div class="tp-caption   tp-resizeme" id="slide-14-layer-22"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','18','18']"
                            data-fontsize="['20','20','20','18']" data-lineheight="['22','22','26','26']"
                            data-width="['none','none','532','420']" data-height="none"
                            data-whitespace="['nowrap','nowrap','normal','normal']" data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. </div>

                        <!-- LAYER NR. 15 -->
                        <div class="tp-caption   tp-resizeme" id="slide-14-layer-24"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['70','70','104','104']"
                            data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
                            data-responsive_offset="on"
                            data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"500","ease":"Linear.ease","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'
                            data-textAlign="['inherit','inherit','inherit','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                            <a href="#about-sec" class="btn slider-trans-btn rounded-pill">GET STARTED</a>
                        </div>
                    </li>

                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div><!-- END REVOLUTION SLIDER -->
        <!-- END REVOLUTION SLIDER -->
    </div>
    <!--slider sec end-->

    <!--Team sec start-->
    <section id="team-sec" class="team-sec section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <div class="team-detail-sec wow fadeInLeft">
                        <div class="ex-detail">
                            <h4 class="large-heading">
                                <span class="heading-1">Meet Our</span>
                                <span class="heading-2">Brilliant Experts</span>
                            </h4>
                            <span class="fly-text">GREAT TEAM</span>
                        </div>
                        <p class="small-text text-center text-md-left">
                            Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry’s standard dummy text ever since. galley of type to make a type specimen
                            book.
                        </p>
                        <div class="team-navigation text-center text-md-left">
                            <span class="left-arr customPrevBtn"><i class="la la-long-arrow-alt-left"></i></span>
                            <span class="right-arr customNextBtn"><i class="la la-long-arrow-alt-right"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-7">
                    <div class="team owl-carousel owl-theme wow fadeInRight">
                        <div class="item">
                            <div class="team-overlay">
                                <div class="overlay-content">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="{% static 'agency/img/christopher-gower-m_HRfLhgABo-unsplash (1).jpg' %}"
                                alt="team1">
                        </div>
                        <div class="item">
                            <div class="team-overlay">
                                <div class="overlay-content">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="{% static 'agency/img/science-in-hd-EB78x6KzQjY-unsplash.jpg' %}" alt="team2">
                        </div>
                        <div class="item">
                            <div class="team-overlay">
                                <div class="overlay-content">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="{% static 'agency/img/hush-naidoo-ZCO_5Y29s8k-unsplash (1).jpg' %}" alt="team2">
                        </div>
                        <div class="item">
                            <div class="team-overlay">
                                <div class="overlay-content">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <img src="{% static 'agency/img/christopher-gower-m_HRfLhgABo-unsplash (1).jpg' %}"
                                alt="team2">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--Team sec start-->

    <section id="about-sec" class="about-sec section-padding">
        <div class="container">
            <div class="row about-sec-detail">
                <div class="col-12 col-lg-6 text-center text-lg-left">
                    <div class="about-des-sec wow fadeInLeft">
                        <div class="ex-detail">
                            <h4 class="large-heading">
                                <span class="heading-1">Shov Shuv -</span>
                                <span class="heading-2">online BOZOR</span>
                            </h4>
                            <span class="fly-text">BIZDA SOTING</span>
                        </div>
                        <p class="small-text text-center text-lg-left">
                            Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry’s standard dummy text ever since. Lorem Ipsum has been the industry’s
                            standard dummy text ever since. galley of type to a make type specimen book.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="about-img-holder">
                        <div class="behind-overlay"></div>
                        <img src="{% static 'agency/img/rasim1.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12 col-md-6 col-lg-4 about-media wow fadeInUp">
                    <span class="about-icon">
                        <a href="#"><i class="la la-bicycle"></i></a>
                    </span>
                    <h4 class="small-heading">Soting</h4>
                    <span class="ex-line"></span>
                    <p class="small-text">Istalgan narsani soting
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 about-media wow fadeInUp">
                    <span class="about-icon">
                        <a href="#"><i class="las la-globe"></i></a>
                    </span>
                    <h4 class="small-heading">Bozor</h4>
                    <span class="ex-line"></span>
                    <p class="small-text">Katta hajimdagi bozor
                    </p>

                </div>
                <div class="col-12 col-md-6 col-lg-4 about-media wow fadeInUp">
                    <span class="about-icon">
                        <a href="#"><i class="las la-lightbulb"></i></a>
                    </span>
                    <h4 class="small-heading">Aqil</h4>
                    <span class="ex-line"></span>
                    <p class="small-text">Aqil bilan soting sotib oling
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 about-media wow fadeInUp" data-wow-delay="350ms">
                    <span class="about-icon">
                        <a href="#"><i class="la la-clock"></i></a>
                    </span>
                    <h4 class="small-heading">Vaqt</h4>
                    <span class="ex-line"></span>
                    <p class="small-text">Qisqa vaqtda yaxshi natija
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 about-media wow fadeInUp" data-wow-delay="350ms">
                    <span class="about-icon">
                        <a href="#"><i class="las la-chess-queen"></i></a>
                    </span>
                    <h4 class="small-heading">Asosiy</h4>
                    <span class="ex-line"></span>
                    <p class="small-text">Biz bilan bozorni asosiy o'yinchisi buling </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 about-media wow fadeInUp" data-wow-delay="350ms">
                    <span class="about-icon">
                        <a href="#"><i class="la la-parachute-box"></i></a>
                    </span>
                    <h4 class="small-heading">Oling</h4>
                    <span class="ex-line"></span>
                    <p class="small-text">Eng yaxshisi faqat siz uchun bizdan oling
                    </p>
                </div>
            </div>
        </div>
    </section>
  

    <!--Services sec start-->
    <section id="services-sec" class="services-sec">
        <div class="service-overlay"></div>
        <div class="container">
            <div class="row services-details section-padding">
                <div class="col-12 col-lg-6">
                    <div class="ex-detail">
                        <h4 class="large-heading">
                            <span class="heading-1">Bizda</span>
                            <span class="heading-2">Katta Bozor</span>
                        </h4>
                        <span class="fly-text">BIZ BILAN</span>
                    </div>
                    <div class="row services-box">
                        <div class="col-8 offset-2 offset-md-0 col-md-4 s-card text-center">
                            <div class="card">
                                <span class="service-icon"><i class="la la-smile"></i></span>
                                <p class="service-num">125</p>
                                <h6 class="service-mini-heading">Sotuvchilar</h6>
                            </div>
                        </div>
                        <div class="col-8 offset-2 offset-md-0 col-md-4 s-card text-center">
                            <div class="card active">
                                <span class="service-icon"><i class="fas fa-luggage-cart"></i></span>
                                <p class="service-num">9102</p>
                                <h6 class="service-mini-heading">Mahsulotlar</h6>
                            </div>
                        </div>
                        <div class="col-8 offset-2 offset-md-0 col-md-4 s-card text-center">
                            <div class="card">
                                <span class="service-icon"><i class="la la-trophy"></i></span>
                                <p class="service-num">06</p>
                                <h6 class="service-mini-heading">Awards Received</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--services sec end-->



    <!--our-Services sec start-->
    <section id="our-services" class="our-services section-padding">
        <div class="container">
            <div class="row text-center text-md-left">
                <div class="col-12 service-text text-center">
                    <div class="our-heading">
                        <span class="heading-title">Biz bilan ishlashadi</span>
                        <h4 class="heading-text">Bizning hamkorlar</h4>
                    </div>
                    <ul class="nav nav-pills justify-content-center mb-md-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#p1" role="tab"
                                aria-selected="true"><span>YIRIK KORXONALAR</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-2-tab" data-toggle="pill" href="#p2" role="tab"
                                aria-selected="false"><span>SIFATLI USKUNALAR</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-3-tab" data-toggle="pill" href="#p3" role="tab"
                                aria-selected="false"><span>ENG KATTA BOZORLAR</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-4-tab" data-toggle="pill" href="#p4" role="tab"
                                aria-selected="false"><span>BARCHA KLINIKALAR</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-4-tab" data-toggle="pill" href="#p5" role="tab"
                                aria-selected="false"><span>ARZON DORIXONALAR</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-4-tab" data-toggle="pill" href="#p6" role="tab"
                                aria-selected="false"><span>SIFATLI UY JOYLAR</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 service-tab">
                    <div class="tab-content" id="pills-tabContent">

                        <div class="tab-pane fade show active" id="p1" role="tabpanel" aria-labelledby="pills-1-tab">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 tab-img">
                                    <img alt="service1"
                                        src="{% static 'agency/img/alex-kotliarskyi-QBpZGqEMsKg-unsplash (1).jpg' %}">
                                </div>
                                <div class="col-sm-12 col-md-6 tab-detail d-flex align-items-center">
                                    <div class="tab-des">
                                        <span class="tab-num">01</span>
                                        <h4 class="tab-title">Your speacialized team move with success.</h4>
                                        <p class="tab-text">It has survived not only five centuries, but also the leap
                                            into electronic typesetting, remaining essentially unchanged. It was
                                            popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum</p>
                                        <a href="{% url 'company'  %}"> <button class="btn anim-btn rounded-pill">GET IN
                                                TOUCH
                                                <span></span><span></span><span></span><span></span>
                                            </button></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade show" id="p2" role="tabpanel" aria-labelledby="pills-2-tab">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 tab-img">
                                    <img alt="service1"
                                        src="{% static 'agency/img/science-in-hd-EB78x6KzQjY-unsplash (1).jpg' %}">
                                </div>
                                <div class="col-sm-12 col-md-6 tab-detail d-flex align-items-center">
                                    <div class="tab-des">
                                        <span class="tab-num">02</span>
                                        <h4 class="tab-title">Your speacialized team move with success.</h4>
                                        <p class="tab-text">It has survived not only five centuries, but also the leap
                                            into electronic typesetting, remaining essentially unchanged. It was
                                            popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum</p>
                                        <a href="{% url 'technique'  %}"> <button class="btn anim-btn rounded-pill">GET
                                                IN TOUCH
                                                <span></span><span></span><span></span><span></span>
                                            </button> </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade show" id="p3" role="tabpanel" aria-labelledby="pills-3-tab">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 tab-img">
                                    <img alt="service1"
                                        src="{% static 'agency/img/clark-street-mercantile-P3pI6xzovu0-unsplash.jpg' %}">
                                </div>
                                <div class="col-sm-12 col-md-6 tab-detail d-flex align-items-center">
                                    <div class="tab-des">
                                        <span class="tab-num">03</span>
                                        <h4 class="tab-title">Your speacialized team move with success.</h4>
                                        <p class="tab-text">It has survived not only five centuries, but also the leap
                                            into electronic typesetting, remaining essentially unchanged. It was
                                            popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum</p>
                                        <a href="{% url 'seller'  %}"> <button class="btn anim-btn rounded-pill">GET IN
                                                TOUCH
                                                <span></span><span></span><span></span><span></span>
                                            </button></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade show" id="p4" role="tabpanel" aria-labelledby="pills-3-tab">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 tab-img">
                                    <img alt="service1"
                                        src="{% static 'agency/img/science-in-hd-OdEB1LNUidc-unsplash.jpg' %}">
                                </div>
                                <div class="col-sm-12 col-md-6 tab-detail d-flex align-items-center">
                                    <div class="tab-des">
                                        <span class="tab-num">03</span>
                                        <h4 class="tab-title">Your speacialized team move with success.</h4>
                                        <p class="tab-text">It has survived not only five centuries, but also the leap
                                            into electronic typesetting, remaining essentially unchanged. It was
                                            popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum</p>
                                        <a href="{% url 'seller'  %}"> <button class="btn anim-btn rounded-pill">GET IN
                                                TOUCH
                                                <span></span><span></span><span></span><span></span>
                                            </button></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade show" id="p5" role="tabpanel" aria-labelledby="pills-4-tab">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 tab-img">
                                    <img alt="service1"
                                        src="{% static 'agency/img/national-cancer-institute-byGTytEGjBo-unsplash.jpg' %}">
                                </div>
                                <div class="col-sm-12 col-md-6 tab-detail d-flex align-items-center">
                                    <div class="tab-des">
                                        <span class="tab-num">04</span>
                                        <h4 class="tab-title">Your speacialized team move with success.</h4>
                                        <p class="tab-text">It has survived not only five centuries, but also the leap
                                            into electronic typesetting, remaining essentially unchanged. It was
                                            popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum</p>
                                        <a href="{% url 'clinics'  %}"> <button class="btn anim-btn rounded-pill">GET IN
                                                TOUCH
                                                <span></span><span></span><span></span><span></span>
                                            </button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="p6" role="tabpanel" aria-labelledby="pills-4-tab">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 tab-img">
                                    <img alt="service1"
                                        src="{% static 'agency/img/birgit-loit-sBjIRDC0H5Q-unsplash (1).jpg' %}">
                                </div>
                                <div class="col-sm-12 col-md-6 tab-detail d-flex align-items-center">
                                    <div class="tab-des">
                                        <span class="tab-num">04</span>
                                        <h4 class="tab-title">Your speacialized team move with success.</h4>
                                        <p class="tab-text">It has survived not only five centuries, but also the leap
                                            into electronic typesetting, remaining essentially unchanged. It was
                                            popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum</p>
                                        <a href="{% url 'home'  %}"> <button class="btn anim-btn rounded-pill">GET IN
                                                TOUCH
                                                <span></span><span></span><span></span><span></span>
                                            </button></a>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--our-Services sec start-->



    <!--Quote sec start-->
    <section id="quote-sec" class="quote-sec">
        <div class="quote-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex justify-content-center">
                    <div class="q-detail">
                        <p class="quote-text"><i class="fas fa-quote-left"></i>
                            <!--                Creativity is allowing yourself to make mistakes-->
                            <!--                Art is knowing which ones to keep-->
                            Some people dream of success, while other people get up every morning and make it happen.
                            <i class="fas fa-quote-right"></i>
                        </p>
                        <h4 class="quote-writer mb-0">- ALICE JOHNSON -</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-sec" id="contact-sec">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="contact-detail wow fadeInLeft">
                        <div class="ex-detail">
                            <h4 class="large-heading">
                                <span class="heading-1">Reklama</span>
                                <span class="heading-2">Bering</span>
                            </h4>
                            <span class="fly-text">BIZGA YOZING</span>
                        </div>
                        <p class="small-text text-center text-md-left">
                            Qisqa vaqt ichida biz siz bilan bog'lanamiz
                        </p>
                        <div class="row location-details text-center text-md-left">
                            <div class="col-12 col-md-6 addr-list">
                                <h4 class="heading-text">United States</h4>
                                <ul>
                                    <li><i class="las la-mobile-alt"></i><a href="#">+(34) 609 33 17 54</a></li>
                                    <li><i class="las la-envelope"></i><a href="#">email@website.com</a></li>
                                    <li><i class="las la-map-marker"></i><a href="#">201 Oak Street Building 27
                                            Manchester, USA</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 addr-list">
                                <h4 class="heading-text">Australia</h4>
                                <ul>
                                    <li><i class="las la-mobile-alt"></i><a href="#">+(34) 609 33 17 54</a></li>
                                    <li><i class="las la-envelope"></i><a href="#">email@website.com</a></li>
                                    <li><i class="las la-map-marker"></i><a href="#">201 Oak Street Building 27
                                            Manchester, USA</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 contact-box text-center text-md-left">

                    <div class="c-box wow fadeInRight">
                        <h4 class="small-heading">Tezkor bo'glanish</h4>
                        <form class="contact-form" action="{% url 'action_view'%}" method="POST">
                            <input type="hidden" , name="action" , value="create_ad">
                            {% csrf_token %}
                            <div class="row my-form">
                                <div class="display-error"><span id="error"></span></div>
                                <div class="col-12 col-md-6">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Ism"
                                        required="required">
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="text" class="form-control" id="f_name" name="f_name"
                                        placeholder="Familya" required="required">
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="text" class="form-control" id="phone" name="phone"
                                        placeholder="Telifon" required="required">
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="text" class="form-control" id="message" name="message"
                                        placeholder="Murojatdan maqsad..." required="required">
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control" id="message_long" name="message_long"
                                        placeholder="Xabaringizni yozing...." rows="7" required="required"></textarea>
                                </div>
                                <div class="col-12" type="submit">
                                    <button class="btn anim-btn rounded-pill user-contact" type="submit">Yuborish
                                        <span></span><span></span><span></span><span></span><span></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</body>
{% block extra_js %}

<script src="{% static 'vendor/js/bundle.min.js' %}"></script>
<script src="{% static 'vendor/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'vendor/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'vendor/js/jquery.cubeportfolio.min.js' %}"></script>
<!-- SLIDER REVOLUTION EXTENSIONS -->
<script src="{% static 'vendor/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.video.min.js' %}"></script>
<script src="{% static 'vendor/js/parallaxie.min.js' %}"></script>
<script src="{% static 'vendor/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/js/wow.min.js' %}"></script>
<script src="{% static 'vendor/js/mediaelement-and-player.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJRG4KqGVNvAPY4UcVDLcLNXMXk2ktNfY"></script>

<script src="{% static 'agency/js/map.js' %}"></script>
<script src="{% static 'agency/js/script.js' %}"></script>
{% endblock extra_js %}
{% endblock %}