{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="breadcrumb" class="section">
   
	<div class="container"> 
	
		  <div class="row">
			<div class="col-md-12">
			  <ul class="breadcrumb-tree">
				<li><a href="{% url 'proba' %}">Boshsahifa</a></li>
				<li><a href="{% url 'seller' %}">Sotuvchilar</a></li>
				<li><a href="#" onclick="location.href=document.referrer;return false;" >{{ tech_products.company}}</a></li>
				<li><a href="#">{{ tech_products.name }}</a></li>
				</ul>
			</div>
		  </div>
	  
		</div> 
		<!-- /container -->
	  </div>

		<!-- SECTION -->
		<div class="section">
		
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-7 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="{{tech_products.image.url}}" alt="">
							</div>
					
							
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
				
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name"><span style="font-weight:bolder">Mahsulot:</span>{{ tech_products.name }}</h2>
						
							<div>
								<h3 class="product-price">${{tech_products.new_price}} <del class="product-old-price">${{tech_products.old_price}}</del></h3>
								<span class="product-available"  id="kar">-{{tech_products.sale}}% sale</span>
								
										{% if tech_products.new %}
										<span class="product-available " id="kar">NEW Product</span>
										{% endif %}
							</div>
							<p><b>Info:</b>{{ tech_products.info_text }}</p>
							<!-- <p> <i class="fas fa-map-marker-alt pr-2  text-info"  style="font-size: 15px;"></i>{{ tech_products.market.locations }}</p> -->
								<div class="add-to-cart">                                   
                                    <div class="footer-sec3" id="footer-sec">                                  
                                          <div class="social-icons d-flex">

											<ul>
  
												<li id="navli">
													<i class="las la-phone fa-lg pr-3 "></i><a href="tel:{{tech_products.phone}}"> {{ tech_products.phone }} </a>
												   {% if tech_products.phone2 %}
													<i class="las la-phone fa-lg pr-3 "></i><a href="tel:{{tech_products.phone}}"> {{ tech_products.phone2 }} </a>
													{% endif %}
											
												</li>
												<li id="navli">
													<a href="{{ tech_products.tg_link }}" class="wow fadeInDown"><i class="lab la-telegram"></i> Telegram</a>
												</li>
												<li id="navli">
													<a href="{{ tech_products.tg_link }}" class="wow fadeInDown"><i class="lab la-instagram"></i>Instagram </a>
											
												</li>
											</ul>
                                      </div>
                                   </div>
								</div>
							
						

							<ul class="product-links">
								<li>Category:</li>
								<li>{{tech_products.company}}</li>
								<li>{{tech_products.name}}</li>
							</ul>

							
						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
			
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

{% endblock %}