{% extends 'base.html' %}
{% load static poll_extras%}

{% block content %}
   <!-- Modal -->
   <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Ma'lumot</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div id="INFO_PRODUCT" class="section">

            <!-- container -->

            <!-- /container -->
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Yopish</button>
        </div>
        
      </div>
    </div>
  </div>
  <!-- end Modal -->
<style>

</style>
<!-- Button trigger modal -->
<!-- Modal: modalPoll -->
<div id="breadcrumb" class="section">
   
  <div class="container"> 
  
        <div class="row">
          <div class="col-md-12 navbarX"  >
            <ul class="breadcrumb-tree">
              <li><a href="{% url 'proba' %}">Boshsahifa</a></li>
              <li><a >Dorilar</a></li>
            </ul>
          </div>
        </div>
    
      </div> 
      <!-- /container -->
    </div>

<div class="col-md-12">


  <div class="container products-tabs">
    <!-- tab -->

    <!-- product -->
    <ul class="row justify-content-left row-eq-height">

      {% for pharm in pharmacies %}
       <li class="col-xl-4 col-xl-offset-4 col-md-6 col-sm-12" >
        <div class="product">
          <div class="product-img-contaner">
            <div class="product-img img-fluid"
              style="background-image:url('{{pharm.image.url}}');height:250px;width:100%;  background-size:cover;  background-position:center">
              <a href="#" class="wow fadeInUp" data-toggle="modal" data-target="#myModal" name="product_info"
              onclick="getProductInfoElements({{pharm.id}})" type="button" id="product_info_{    }"><div style="width: 550px;height:250px;"></div> </a>
            </div>
          </div>
          <div class="product-body">
            <div class="product-company-name" style="margin-top:13px; margin-bottom:10px; ">
              <span class="product-name" href="#" style=" font-size: 14px;text-decoration:none; font-weight:bold;">{{ pharm.name}}</span>
           </div>
           <div>
            <h4 class="product-price mt-1" value3="{{pharm.new_price}}">$<span id="new_price">{{pharm.new_price}}so'm</span>
              <del class="product-old-price">$ <span id=" old_price">{{pharm.old_price}}so'm</span> </del>
            </h4>
           </div>
            <div class="product-price pt-1" style="font-size: 12px; margin-bottom:10px; color:#000">{{pharm.pharmacy_info}}</div>
          
            <hr>
            <div class="product-btns">

              <div class="footer-sec2" id="footer-sec">
                <div class="container">
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <div class="social-icons d-flex w-2 h-2">
                        <a href="{{ pharm.tg_link}}" class="wow fadeInUp"><i class="lab la-telegram"></i> </a>
                        <a href="#" class="wow fadeInUp" data-toggle="modal" data-target="#myModal" name="product_info"
                          onclick="getProductInfoElements({{pharm.id}})" type="button" id="product_info_{    }"> <i
                            class="las la-eye"></i></a>
                            <a href="{% url 'order_create_pharm' pharm.pk %}" class="wow fadeInUp"><i
                              class="las la-cart-plus"></i> </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- <div class="add-to-cart">
											<a href="tel:{{ i.phone }}"> <button class="add-to-cart-btn"><i
														class="fas fa-phone-alt"></i></i>{{i.phone}}</button></a>
										</div> -->
          <div class="product-label">
            {% if pharm.sale > 0 %}
            <span id="sale" class="sale">-{{pharm.sale}}%</span>
            {% endif %}
            {% if pharm.new %}
            <span class="new">NEW</span>
            {%endif%}
          </div>
        </div>
      </li>

      {% endfor %}

    </ul>



  </div>

  <!-- paginator -->
  <div class="store-filter clearfix mt-5">
    {% if is_paginated %}

    <ul class="store-pagination">
      {% if page_obj.has_previous %}

      <li class="page-item">
        <a href="?page={{page_obj.previous_page_number}}"><i class="fa fa-angle-left"></i></a>
      </li>
      {% else %}

      <li class="page-item no-drop">
        <a><i class="fa fa-angle-left"></i></a>
      </li>
      {% endif %}
      {% for i in paginator.page_range %}

      {% if page_obj.number == i %}
      <li class="page-item active">{{ i }}</li>
      {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %} {% endfor %} {% if page_obj.has_next %}
      <li class="page-item ">
        <a href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-right"></i></a>
      </li>
      {% else %}
      <li class="disabled">
        <a class="no-drop"><i class="fa fa-angle-right"></i></a>
      </li>
      {% endif %}


    </ul>
    {% endif %}
  </div>
  <!-- /paginator -->
</div>



<script>

  function getProductInfoElements(Product_id) {
    data = {
      'product_info_ID': Product_id
    }
    console.log(data)
    $.ajax({
      method: 'GET',
      dataType: 'json',
      data: data,
      url: '{% url "pharm_detail" %}',
      success: function (data) {
        product_list = data['data']['product_list']
        for (let product in product_list) {

          if (product_list[product]['new'] === true) {
            new_product_template = `<span class="product-available " id="kar">NEW</span>`
          } else new_product_template = '';

          if (product_list[product]['sale'] > 0) {
            sale_product_template = `
                 <span class="product-available" id="kar">-${product_list[product]['sale']}% sale</span>`
          }
          else sale_product_template = ``;

          p_info = `
                 <!-- SECTION -->
                 <div class="section">
                 
                   <!-- container -->
                   <div class="container">
                     <!-- row -->
                     <div class="row">
                       <!-- Product main img -->
                       <div class="col-md-7 col-md-push-2">
                         <div id="product-main-img">
                           <div class="product-preview">
                             <img src="/media/${product_list[product]['image']}" alt="">
                           </div>
                       
                           
                         </div>
                       </div>
                       <!-- /Product main img -->
             
                       <!-- Product thumb imgs -->
                     
                       <!-- /Product thumb imgs -->
             
                       <!-- Product details -->
                       <div class="col-md-5">
                         <div class="product-details">
                           <h2 class="product-name"><span style="font-weight:bolder">Dori nomi: </span>${product_list[product]['name']}</h2>
                           <p><span style="font-weight: bold; font-size: 14px;">Xususiyatlari </span>:${product_list[product]['pharmacy_info']}</p>
                           <div>
                             <h3 class="product-price">${product_list[product]['new_price']}&nbsp;so'm&nbsp;&nbsp; <del class="product-old-price">${product_list[product]['old_price']}&nbsp;so'm</del></h3>
                             ${new_product_template}
                              ${sale_product_template}
                           </div>
                           <p><span style="font-weight: bold;">To'liq malumot</span>:${product_list[product]['content']}</p>
                           <p> <i class="fas fa-map-marker-alt pr-2  text-info"  style="font-size: 15px;"></i>${product_list[product]['locations']}</p>
                             <div class="add-to-cart">                                   
                                                 <div class="footer-sec3" id="footer-sec">                                  
                                                       <div class="social-icons d-flex">
             
                                   <ul>
               
                                     <li id="navli">
                                       <i class="las la-phone fa-lg pr-3 "></i><a href="tel:${product_list[product]['phone']}"> ${product_list[product]['phone']} </a>
                                        {% if pharmacy_detail.phone2 %}
                                       <i class="las la-phone fa-lg pr-3 "></i><a href="tel:${product_list[product]['phone2']}"> ${product_list[product]['phone2']} </a>
                                       {% endif %}
                                   
                                     </li>
                                     
                                     <li id="navli">
                                       <a href="${product_list[product]['tg_link']}" class="wow fadeInDown"><i class="lab la-telegram"></i> Telegram</a>
                                     </li>
                                     <li id="navli">
                                       <a href="${product_list[product]['ins_link']}" class="wow fadeInDown"><i class="lab la-instagram"></i>Instagram </a>
                                   
                                     </li>
                                   </ul>
                                                   </div>
                                                </div>
                             </div>
                         
             
                           <ul class="product-links">
                             <li>Category:</li>
                             <li>${product_list[product]['category']}</li>
                             <li>${product_list[product]['name']}</li>
                           </ul>
             
                           
                         </div>
                       </div>
                       <!-- /Product details -->
             
                       <!-- Product tab -->
                   
                       <!-- /product tab -->
                     </div>
                     <!-- /row -->
                   </div>
                   <!-- /container -->
                 </div>
                 <!-- /SECTION -->`}

        $('#INFO_PRODUCT').html(p_info)
      }
    });
  }





</script>

{% endblock %}
{% block extra_js %}

{% endblock extra_js %}