{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="breadcrumb" class="section">
   
    <div class="container"> 
    
          <div class="row">
            <div class="col-md-12">
              <ul class="breadcrumb-tree">
                <li><a href="{% url 'proba' %}">Boshsahifa</a></li>
                <li><a href="{% url 'clinics' %}">Klinikalar</a></li>
   
               <li><a href="#">{{ name.first.category }}</a></li>
            
            
    
        
              </ul>
            </div>
          </div>
      
        </div> 
        <!-- /container -->
      </div>
    
<div class="section">
    <!-- container -->
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3 ">
                <!-- aside Widget -->
                                   
                <h3 class="aside-title pl-2">Barcha bo'limlar</h3>
                <form>
                <ul class="list-group ">
                    {% for i in clinics_list %}
                    <a href="{% url  'clinic_detail' i.id %}" style="margin: 1px; border: 0;">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{i.name}}
                 
                      <span class="badge badge-info ">{{i.count }}</span>
                   
                    </li></a>
                    
                    {% endfor %}
                  </ul>
      
                </form>
            </div>
            <!-- /ASIDE -->

            <!-- STORE -->
            <div id="store" class="col-md-8 mt-5">
                <!-- store top filter -->
                <!-- <div class="store-filter clearfix">
                   
                    <ul class="store-grid">
                        <li class="active"><i class="fa fa-th"></i></li>
                        <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                    </ul>
                </div> -->
                <!-- /store top filter -->
             
       
	

             

                <!-- store products -->
                <div class="aside">
                    
                    <div class="row">
                        <!-- product -->
                        <ul class="row justify-content-left">
                            <!-- <div class="col-md-3"></div> -->
                            {% for market in name %}
                                    <li class="col-md-4" >                  
                      <div class="product">
                        <div class="product-img-fluid">
                          <img src="{{ market.image.url }}"  style="width:100%;height: 41vh;" alt="image">
                          <div class="product-label">
                        
                          </div>
                        </div>
                        <div class="product-body">
                          <p class="product-category text-center"> <b style="color: black;">{{ market.name}}</b>  <br>({{ market.category}}) </p>
                          <h1 class="product-name " style="font-size: 13px;">{{market.info_service}}</h1>
                            <hr>
                          
                            <h5 class="text-justify" style="font-size: 11px; padding: 5px;">
                              <b  style=" font-size: 14px;"><i class="fas fa-map-marker-alt text-info" style="padding: 2px;font-size: 18px;">
                                <b style="color: rgb(29, 25, 25); font-size: 14px; font-weight: 800;line-height: 25px;te"> Manzil:</b></i> </b>{{market.locations}}
                             
                            </h5>
                            
                            <h5 class="text-justify" style="font-size: 11px;padding:5px">
                              <b  style=" font-size: 14px;"><i class="fas fa-phone-alt pr-2 text-info text-info" style="padding: 2px;font-size: 18px;">
                              </i>   {{market.phone}}</b>
                            </h5>
                 
                       
                  
                          
    
                         
                    
                            <div class="product-btns">
                                            
                                <div class="footer-sec2" id="footer-sec">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 d-flex justify-content-center">
                                                <div class="social-icons d-flex">
                                                        <a href="{{i.tg_link}}" class="wow fadeInUp"><i class="lab la-telegram"></i> </a>
                                                                <a href="#" class="wow fadeInDown"><i class="las la-eye"></i></a>
                                                      
                                                        <a href="{{i.ins_link}}" class="wow fadeInUp"><i class="lab la-instagram"></i> </a>
                                                </div>
                                            </div>
                                    
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                   
            
                                                             </div>
                        
                    
                                  </li>
                                    {% endfor %}
                            <!-- /product -->
                
                        </ul>
                        <!-- /product -->
    
                        <!-- /product -->
                    </div>
                    <!-- /store products -->
    </div>

                <!-- paginator -->
                <div class="store-filter clearfix mt-5">
                    {% if is_paginated %}
                    
                    <ul class="store-pagination">
                        {% if page_obj.has_previous %}

                        <li  class="page-item">
                                    <a  href="?page={{page_obj.previous_page_number}}"><i class="fa fa-angle-left"></i></a></li>
                        {% else %}

                        <li class="page-item no-drop" >
                                     <a   ><i class="fa fa-angle-left"></i></a>
                                    </li>
                        {% endif %}
                        {% for i in paginator.page_range %} 

                            {% if page_obj.number == i %}
                              <li class="page-item active">{{ i }}</li>
                            {% else %}
                              <li><a  href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %} {% endfor %} {% if page_obj.has_next %}
                            <li class="page-item ">
                                     <a  href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-right"></i></a>
                             </li>
                        {% else %}
                        <li class="disabled" >
                            <a class="no-drop" ><i class="fa fa-angle-right"></i></a>
                           </li>
                        {% endif %}


                    </ul>
                    {% endif %}
                </div>
                <!-- /paginator -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

{% endblock %}