{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div id="breadcrumb" class="section">
   
<div class="container"> 

      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb-tree">
            <li><a href="{% url 'proba' %}">Boshsahifa</a></li>
            <li><a href="{% url 'company' %}">Korxonalar</a></li>
      
       
        

    
          </ul>
        </div>
      </div>
  
    </div> 
    <!-- /container -->
  </div>

     

        <main class="my-5">
            <div class="container">
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-md-12 mb-4">
                  <!--Section: Content-->
                  {% for i in firms %}
                  <section>
              
        
                    <!-- Post -->
                   
                    <div class="row">
                     
                      <div class="col-md-4 mb-4">
                        <a href="{% url 'category' i.id %}">
                        <h3 id="comp_name"  >{{ i.name_long}}</h3>
                            <div class="shop">
                                <div class="shop-img">
                                  <img src="{{ i.image.url}}" class="image-fluid" alt="">
                                </div>
                                <div class="shop-body">
                                    <!-- <a href="#" class="cta-btn">Shop now lorem50 </i></a> -->
                                </div>
                            
                        </div></a>
                      </div>
        
                      <div class="col-md-8 mb-4 mt-3">
                        <h5>{{ i.name }}</h5>
                        <p>
                          <b>Biz haqimizda:</b>{{ i.info }}
                        </p>
                     
                        <a href="{% url 'category' i.id %}" class="btn anim-btn rounded-pill user-contact"  name="company" value="{{ i.id }}"  type="button">Ko'rish
                            <span></span><span></span><span></span><span></span><span></span>
                        </a>
                        <ul style="float: right;">
                            <!-- <li style="float: right;"  class="wow fadeInDown"><i class="las la-phone fa-2x" ></i></li> -->
                            <a href="tel:{{i.phone}}"><li style="float: right;"  class="wow fadeInUp"><i class="las la-phone fa-2x" ></i><b>{{ i.phone}}</b></li></a>
                       
                        <li style="float: right;" class="wow fadeInDown">
                        <a href="{{ i.tg_link }}" class="wow fadeInDown"><i class="lab la-telegram fa-2x"></i> </a>

                        </li>
                        <li style="float: right;" class="wow fadeInUp">
                        <a href="{{ i.ins_link}}" class="wow fadeInDown"><i class="lab la-instagram fa-2x"></i> </a>

                        </li>
                        </ul>
                      </div>
                    </div>
                 
        
                    <!-- Post -->
              
                  </section>
                  {% endfor %}
                  <!--Section: Content-->
                </div>
                <!--Grid column-->
        
                <!--Grid column-->
              
                <!--Grid column-->
              </div>
              <!--Grid row-->
        
              <!-- Pagination -->
               <!-- paginator -->
  <div class="store-filter clearfix mt-5">
    {% if is_paginated %}

    <ul class="store-pagination">
      {% if page_obj.has_previous %}

      <li class="page-item">
        <a href="?page={{page_obj.previous_page_number}}"><i class="fa fa-angle-left"></i></a>
      </li>
      {% else %}

      <li class="page-item no-drop">
        <a><i class="fa fa-angle-left"></i></a>
      </li>
      {% endif %}
      {% for i in paginator.page_range %}

      {% if page_obj.number == i %}
      <li class="page-item active">{{ i }}</li>
      {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %} {% endfor %} {% if page_obj.has_next %}
      <li class="page-item ">
        <a href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-right"></i></a>
      </li>
      {% else %}
      <li class="disabled">
        <a class="no-drop"><i class="fa fa-angle-right"></i></a>
      </li>
      {% endif %}


    </ul>
    {% endif %}
  </div>
  <!-- /paginator -->
            </div>
            
          </main>


{% endblock %}

