{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div id="breadcrumb" class="section">
   
<div class="container"> 

      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb-tree">
            <li><a href="{% url 'proba' %}">Boshsahifa</a></li>
            <li><a href="#">Uy joylar</a></li>
      
       
        

    
          </ul>
        </div>
      </div>
  
    </div> 
    <!-- /container -->
  </div>


        <main class="my-5">
            <div class="container">
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-md-12 mb-4">
                  <!--Section: Content-->
                  {% for i in home_list %}
                  <section>
              
        
                    <!-- Post -->
                   
                    <div class="row">
                   
                      <div class="col-md-5 mb-4">
                        
                            <div class="shop">
                                <div class="shop-img">
                                    <img src="{{ i.image.url}}" style="height: 45vh;border-radius:0 10px 10px 0;" class="image-fluid" alt="">
                                </div>
                                <div class="shop-body">
                                    <h3 style="color: aliceblue;"><br>{{ i.name_company}}</h3>
                                    <!-- <a href="#" class="cta-btn">Shop now lorem50 </i></a> -->
                                </div>
                            
                        </div>
                      </div>
        
                      <div class="col-md-7 mb-4 mt-3">
                        <h5>{{ i.name_product }}</h5>
                        <p>
                          <b>Biz haqimizda:</b>{{ i.content }}
                        </p>
							<p> <i class="fas fa-map-marker-alt pr-2  text-info"  style="font-size: 15px;"></i><b>Manzil</b> :Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus autem sequi explicabo nostrum? Doloremque, magnam? Voluptate assumenda quas aut reiciendis.
                            </p>
                        <a href="{% url 'home-detail' i.id %}" class="btn anim-btn rounded-pill user-contact"  name="company" value="{{ i.id }}"  type="button">Ma'lumot
                            <span></span><span></span><span></span><span></span><span></span>
                        </a>
                        <ul style="float: right;">
                            <!-- <li style="float: right;"  class="wow fadeInDown"><i class="las la-phone fa-2x" ></i></li> -->
                            <a href="tel:{{i.phone}}"><li style="float: right;"  class="wow fadeInUp"><i class="las la-phone fa-2x" ></i><b>{{ i.phone}}</b></li></a>
                        <li style="float: right;" class="wow fadeInDown  p-2">
                        <a href="{{ i.web_site }}" class="wow fadeInDown"><i class="lab la-internet-explorer fa-2x"></i> </a>

                        </li>
                        <li style="float: right;" class="wow fadeInDown  p-2">
                        <a href="{{ i.tg_link }}" class="wow fadeInDown"><i class="lab la-telegram fa-2x"></i> </a>

                        </li>
                        <li style="float: right;" class="wow fadeInUp  p-2">
                        <a href="{{ i.ins_link}}" class="wow fadeInDown"><i class="lab la-instagram fa-2x"></i> </a>

                        </li>
                        </ul>
                      </div>
                    </div>
                 
        
                    <!-- Post -->
              
                  </section>
                  {% endfor %}
                  <!--Section: Content-->
                </div>
                <!--Grid column-->
        
                <!--Grid column-->
              
                <!--Grid column-->
              </div>
              <!--Grid row-->
        
              <!-- Pagination -->
         
            </div>
          </main>
	

{% endblock %}

