{% extends 'base.html' %}
{% load static poll_extras%}
{% block extra_css %}



    <!-- <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}"> -->
{% endblock extra_css %}
{% block content %}

<style>
  #navli {
  padding-left:20px;
  display: inline-block;
  /* You can also add some margins here to make it look prettier */
  zoom:1;
  *display:inline;
  /* this fix is needed for IE7- */
}
</style>
   
 
    <nav class="navbar navbar-light bg-light" style="height: 100px;">
      <a class="navbar-brand">Bozorlar</a>
<form >
  <li  id="navli">
    <select class="selectpicker" style="width: 200px;"  data-live-search="true" name="bazar" >
    <option value='all' {% if selected_all_bazar == 'all' %}selected{% endif %} >Все</option>
    {% for i in all_bazar %}
    <option value="{{i.id}}" {% if selected_all_bazar|to_int == i.id|to_int %}selected{% endif %}>{{i}}</option>
    {% endfor %}</li>    
  

      </select>
      <li  id="navli">  <button type="submit" class="btn btn-primary shadow btn-ls sharp mr-2 "><i class="fas fa-search"></i></button></li>
    </form>
    </nav>
      <!-- <form action=""><ul>
        <li>
       
          <select style="height: 120px; width: 200px;"  class="maximum-search-length select2 form-control" name="bazar">
        
          <option value='all' {% if selected_all_bazar == 'all' %}selected{% endif %} >Все</option>
              {% for i in all_bazar %}
                    <option value="{{i.id}}" {% if selected_all_bazar|to_int == i.id|to_int %}selected{% endif %}>{{i}}</option>
              {% endfor %}
              
            </li>
                </select>
              
              <li id="navli">  <button type="submit" class="btn btn-primary shadow btn-ls sharp mr-2 "><i class="fas fa-search"></i></button></li>
      </ul> -->
     

  
     
    
   
      <!-- /container -->


	<div class="col-md-12">
			
			
				<div class="products-tabs">
					<!-- tab -->
			
							<!-- product -->
              <ul class="row justify-content-left row-eq-height">

                {% for market in market_list %}
								<li class="col-md-4" >                  
                  <div class="product">
                    <div class="product-img-fluid">
                      <img src="{{ market.image.url }}"  style="width:100%;height: 41vh;" alt="image">
                      <div class="product-label">
                        <!-- <span class="sale">-30%</span>
                        <span class="new">NEW</span> -->
                      </div>
                    </div>
                    <div class="product-body">
                      <p class="product-category text-center"> <b>{{ market.bazar }}</b>  <br>{{ market.name}} 
                      </p>
                      <h1 class="product-name " style="font-size: 13px;">{{market.info_shop_product}}</h1>
                      
                      <hr>
                      <i class="fas fa-map-marker-alt" style="padding: 5px;font-size: 15px;">
                        <b style="padding-left: 2px;">Manzil</b></i>
                        <h5 class=" text-justify" style="font-size: 11px;"><i>
                           {{market.locations}}
                          </i> 
                        </h5>
                     
                     
                      <!-- <i class="text-justify">Manzil Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, molestiae?</i> -->
                      <!-- <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4> -->
                      <!-- <div class="product-rating">
                      
                      </div> -->
                
                      <div class="product-btns">
                        
                                            <div class="footer-sec2" id="footer-sec">
                                                <div class="container">
                                        
                                                    <div class="row">
                                                        <div class="col-12 d-flex justify-content-center">
                                                          
                                                            <div class="social-icons d-flex">
                                                                   <ul>
                                                                     <li> <a  href="{{ market.tg_link }}" class="wow fadeInDown"><i class="lab la-telegram " ></i> <b style="padding-left: -15px;"> </b></a></li>
                                                                     <li>Telegram</li>
                                                                   </ul>
                                                                   <ul>
                                                                     <li class="pl-2"> <a href="mahsulot.html" class="wow fadeInUp"><i class="las la-eye"></i></a></li>
                                                                     <li>Info</li>
                                                                   </ul>
                                                                   <ul>
                                                                     <li>  <a href="{% url 'seller_products' market.pk %}" class="wow fadeInUp"><i class="las la-list"></i> </a></li>
                                                                     <li>Tovarlar</li>
                                                                   </ul>
                                                                   
                                                                  
                                                            </div>
                                                        </div>
                                                   
                                                    </div>
                                                </div>
                                            </div>
                      
                      </div>
                    </div>
                    <!-- <div class="add-to-cart">
                      <button class="add-to-cart-btn"><i class="fas fa-phone-alt"></i></i> +998904531707</button>
                    </div> -->
                
                              </li>
                                {% endfor %}
              
                              </ul>

                    
                                                            </div>
                                                          </div>
					
							<!-- /product -->
					
						
						
						</div>
						
                     
						
					
						</div>
                        <div class="store-filter clearfix mt-5">
							
							<ul class="store-pagination">
								<li><a href="#"><i class="fa fa-angle-left"></i></a></li>
								<li class="active">1</li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>
						</div>

{% endblock %}
{% block extra_js %}
<script>

  $('select').selectpicker();
 
</script>
   
{% endblock extra_js %}
