{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Modal -->
<div class="modal fade" id="myModal">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Ma'lumot</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div id="INFO_PRODUCT" class="section">
		
                <!-- container -->

                <!-- /container -->
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-dismiss="modal">Yopish</button>
            </div>
            
          </div>
        </div>
      </div>
      <!-- end Modal -->

<div id="breadcrumb" class="section">
   
    <div class="container"> 
    
          <div class="row">
            <div class="col-md-12">
              <ul class="breadcrumb-tree">
                <li><a href="{% url 'proba' %}">Boshsahifa</a></li>
                <li><a href="{% url 'seller' %}">Sotuvchilar</a></li>
                <li><a href="#">{{market.first.market}}</a></li>

              
            
    
        
              </ul>
            </div>
          </div>
      
        </div> 
        <!-- /container -->
      </div>
    {% if market %}
<div class="section">
    <!-- container -->
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            {% if market %}
            <div id="aside" class="col-md-3 ">
                <!-- aside Widget -->
             
                <h3 class="aside-title pl-2">Do'kon haqida</h3>
                <div class="card border-success mb-3" >
                    <div class="card-header bg-transparent border-success"><i class="fas fa-hotel pr-2  text-info"></i>{{market.first.market.bazar}}</div>
                    <div class="card-body text">
                      <h5 class="card-title"><i class="fas fa-cart-arrow-down pr-2  text-info"></i>{{market.first.market.name}}</h5>
                      <p class="card-text" style="font-size: 12px;"><i class="fas fa-hat-cowboy  pr-2  text-info" style="font-size: 15px;"></i> <b>{{market.first.market.info_shop_product}}</b></p>
                      <p class="card-text" style="font-size: 11px;"><i class="fas fa-info-circle pr-2  text-info" style="font-size: 15px;"></i> <b>{{market.first.market.info_long}}</b></p>
                    </div>
                    <div class="card-footer bg-transparent border-success" style="font-size: 12px;"> <i class="fas fa-map-marker-alt pr-2  text-info"  style="font-size: 15px;"></i>{{market.first.market.locations}}</div>
                    <div class="card-footer bg-transparent border-success" style="font-size: 15px;"><i class="fas fa-phone-alt pr-2 text-info" style="font-size: 15px;"></i>{{market.first.market.phone}}</div>
                  </div>
            </div>
            {% endif %}
            

            <!-- /ASIDE -->

            <!-- STORE -->
        
            <div id="store" class="col-md-8 mt-5">
                <!-- store top filter -->
                <!-- <div class="store-filter clearfix">
                   
                    <ul class="store-grid">
                        <li class="active"><i class="fa fa-th"></i></li>
                        <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                    </ul>
                </div> -->
                <!-- /store top filter -->
             
       
	

             

                <!-- store products -->
						<div class="aside">
              
                    <!-- product -->
                    <ul class="row justify-content-left">
                        <!-- <div class="col-md-3"></div> -->
                        {% for i in object_list %}
                            <!-- <div class=""></div> -->
                            <li class="col-xl-4 col-md-6 col-sm-12">
                                <div class="product">
                                    <div class="product-img-contaner">
                                        <div class="product-img img-fluid"
                                            style="background-image:url('{{i.image.url}}');height:250px;width:100%;  background-size:cover;  background-position:center">


                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <div class="product-company-name">
                                            <span class="product-category">{{i.company}}</span>
                                            <a class="product-name" href="#">{{ i.name}}</a>
                                        </div>
                                       
                                        <div class="product-price">${{i.new_price}}&nbsp;so'm&nbsp;<del
                                                class="product-old-price">${{i.old_price}}&nbsp;so'm</del></div>
                                        <div class="product-rating">

                                        </div>
                                        
                                        <div class="product-btns">

                                            <div class="footer-sec2" id="footer-sec">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-12 d-flex justify-content-center">
                                                            <div class="social-icons d-flex w-2 h-2">
                                                                <a href="{{i.tg_link}}" class="wow fadeInUp"><i
                                                                        class="lab la-telegram"></i> </a>
                                                                <a href="{{i.tg_link}}" class="wow fadeInDown"> <i
                                                                        class="lab la-instagram"></i></a>

                                                                <a href="#" class="wow fadeInUp" data-toggle="modal"
                                                                    data-target="#myModal" name="product_info"
                                                                    onclick="GetMarketProduct({{i.id}})"
                                                                    type="button" id="product_info_{    }"> <i
                                                                        class="las la-eye"></i></a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- <div class="add-to-cart">
                                        <a href="tel:{{ i.phone }}"> <button class="add-to-cart-btn"><i
                                                    class="fas fa-phone-alt"></i></i>{{i.phone}}</button></a>
                                    </div> -->
                                    <div class="product-label">
                                        {% if i.sale > 0 %}
                                        <span id="sale" class="sale">-{{i.sale}}%</span>
                                        {% endif %}
                                        {% if i.new %}
                                        <span class="new">NEW</span>
                                        {%endif%}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        <!-- /product -->
            
                    </ul>
                    <!-- /product -->

                    <!-- /product -->
                
                <!-- /store products -->
</div>

                <!-- paginator -->
                <div class="store-filter clearfix mt-5">
                    {% if is_paginated %}
                    
                    <ul class="store-pagination">
                        {% if page_obj.has_previous %}

                        <li  class="page-item">
                                    <a  href="?page={{page_obj.previous_page_number}}"><i class="fa fa-angle-left"></i></a></li>
                        {% else %}

                        <li class="page-item no-drop" >
                                     <a   ><i class="fa fa-angle-left"></i></a>
                                    </li>
                        {% endif %}
                        {% for i in paginator.page_range %} 

                            {% if page_obj.number == i %}
                              <li class="page-item active">{{ i }}</li>
                            {% else %}
                              <li><a  href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %} {% endfor %} {% if page_obj.has_next %}
                            <li class="page-item ">
                                     <a  href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-right"></i></a>
                             </li>
                        {% else %}
                        <li class="disabled" >
                            <a class="no-drop" ><i class="fa fa-angle-right"></i></a>
                           </li>
                        {% endif %}


                    </ul>
                    {% endif %}
                </div>
                <!-- /paginator -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
{% else %}
        <h1 style="text-align: center;color: #17a2b8;"><i class="far fa-meh-rolling-eyes"></i> Tovarlar Yo'q</h1>
        {% endif %}
<script>
function GetMarketProduct(M_Product_Id){
    data = {
        'm_product_id': M_Product_Id
    }
    $.ajax({
     method: 'GET',
     dataType:'json',
     data:data,
     url:'{% url "detail_products" %}',
     success:function(data){
     product_list = data['data']['product_list']
    
     for( let product in product_list){
      let a = product_list[product]['sale']
      let b = product_list[product]['new']
      if (a>0){
        sale = `<span class="product-available"  id="kar">-${a}%</span>`
      } else sale = '';
      if (b==true){
          new_product = `<span class="product-available " id="kar">NEW Product</span>`
      } else new_product  = '';
     p_info =  `<!-- SECTION -->
		<div class="section">
		
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-7 col-md-push-2">
                        <div id="product-main-img">
                            <div class="product-preview"style="background-image: url('/media/${product_list[product]['image']}'); height: 350px; width: 100%; background-size: cover; background-position: center center;">
                                        
                            </div>
						
					
							
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
				
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name"><span style="font-weight:bolder">Do'kon: </span>${product_list[product]['name']}</h2>
					
							<div>
								<h3 class="product-price">${product_list[product]['new_price']}&nbsp;so'm&nbsp;&nbsp; <del class="product-old-price">${product_list[product]['old_price']}&nbsp;so'm</del></h3>
							                ${sale}
                                            ${new_product}
							</div>
							<p><b>Info:</b>${product_list[product]['info_text']}</p>
								<div class="add-to-cart">                                   
                                    <div class="footer-sec3" id="footer-sec">                                  
                                          <div class="social-icons d-flex">

											<ul>
  
												<li id="navli">
													<i class="las la-phone fa-lg pr-3 "></i><a href="tel:${product_list[product]['phone']}"> ${product_list[product]['phone']} </a>
												   {% if market_detail.phone2 %}
													<i class="las la-phone fa-lg pr-3 "></i><a href="tel:${product_list[product]['phone2']}"> ${product_list[product]['phone2']} </a>
													{% endif %}
											
												</li>
												<li id="navli">
													<a href="${product_list[product]['tg_link']}" class="wow fadeInDown"><i class="lab la-telegram"></i> Telegram</a>
												</li>
												<li id="navli">
													<a href="${product_list[product]['ins_link']}" class="wow fadeInDown"><i class="lab la-instagram"></i>Instagram </a>
											
												</li>
											</ul>
                                      </div>
                                   </div>
								</div>
							

						

							<ul class="product-links">
								<li>Category:</li>
								<li>${product_list[product]['market']}</li>
								<li>${product_list[product]['name']}</li>
							</ul>

							
						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
			
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->`}

       
       
        $('#INFO_PRODUCT').html(p_info) } 

    });
}


</script>
{% endblock %}